[user]
        name = Christian Kruse
        email = christian@c-kruse.com

[init]
        defaultBranch = main

[alias]
    co = checkout
    br = branch
    ci = commit
    s = status
    wt = worktree
